@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* ===================== ROOT ===================== */

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* ===================== DARK THEME VARIABLES ===================== */

.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: poppins, sans-serif;
    font-size: 1.14rem;
    background: var(--color-background);
    user-select: none;
    overflow: hidden;
    color: var(--color-dark);
    overflow-y: auto;
    background: url('wallpaperflare.com_wallpaper\ \(3\).jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    padding-bottom: 1px;
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background: transparent;
    backdrop-filter: blur(60px);
    border-radius: var(--border-radius-1);
}

header h2 {
    color: #0519b1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: -5rem;
    user-select: none;
}


.log-btn .btnLogin-popup {
    width: 95px;
    height: 30px;
    background: transparent;
    border: 2px solid var(--color-background);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: var(--color-background);
    font-weight: 500;
    margin-left: 40px;
    justify-content: center;
    justify-items: center;
    transition: .5s;
}

.log-btn .btnLogin-popup:hover {
    background: var(--color-primary);
    color: var(--color-white);
    border: var(--color-white);
    letter-spacing: 1px;
}

.wrapper {
    position: relative;
    width: 440px;
    height: 400px;
    background: transparent;
    /* border: 2px solid rgba(255, 255, 255, .5); */
    border-radius: var(--border-radius-3);
    backdrop-filter: blur(30px);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .from-box {
    width: 100%;
    padding: 40px;
}

.wrapper .from-box h2 {
    font-size: 2em;
    color: var(--color-primary);
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--color-primary);
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    font-weight: 500;
    color: var(--color-dark);
    transition: .5s;
}

.input-box input:focus~label {
    top: -5px;
    font-size: 1rem;
    color: gray;
}

.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 1.14rem;
}

.input-box .material-symbols-outlined {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: var(--color-dark);
    line-height: 57px;
}

.remember-forget {
    font-size: .9em;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: flex-end;
}

.remember-forget a,
.login-register a {
    text-decoration: none;
}

.remember-forget a:hover,
.login-register a:hover {
    text-decoration: underline;
}

.btn-submit {
    width: 100%;
    height: 45px;
    background: var(--color-primary);
    border: none;
    outline: none;
    border-radius: var(--border-radius-1);
    cursor: pointer;
    font-size: 1.4rem;
    transition: .5s;
    font-weight: 500;
    color: var(--color-dark);
}

.btn-submit:hover {
    letter-spacing: 2px;
}

.login-register {
    font-size: .9em;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}